{% extends 'main.html' %}

{% block content %}

<!-- <form action="" method ="POST">
    {% csrf_token %}
    <p>Are You Sure You Want To Delete "{{object}}" Record ?</p>
    <a href ="{% url 'projects' %}">Go Back
    </a>
    <input type = "submit" value="Confirm">
</form> -->

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">

            <form class="form" action ="" method="POST">
                {% csrf_token %}
                <img class="avatar avatar--xl dev__avatar" src="{{ profile.profile_image.url }}" />
                <br><br>
                <center>
                <p>Are You Sure You Want To Delete <b>"{{object}}"</b> Record ?</p>
                <a class="btn btn--sub btn--lg my-md" href ="{{request.GET.next}}">Go Back
                </a>&nbsp;&nbsp;
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
                </center>
            </form>
        </div>
    </div>
</main>
{% endblock %}